# Node.js
# ignore node_modules
./NodeFrontend/node_modules/
node_modules/
# ignore build
./NodeFrontend/build/
# ignore dist
./NodeFrontend/dist/
# ignore coverage
./NodeFrontend/coverage/

npm-debug.log
yarn-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
.docker/ 
.env